@font-face {
    font-family: "source-han-sans";
    src: 
         url("../fonts/SourceHanSansCN-Normal.ttf") format("truetype");
}

@font-face {
    font-family: "myroboto";
    src: 
         url("../fonts/Roboto-Regular-webfont.woff");
}

.application {
    font-family: 'myroboto', 'source-han-sans', sans-serif
}

.list__tile {
    font-size: 14px;
    height: auto;
}